/*重写页面大小*/
.layout.hide-aside {
    max-width: 1400px;
}
/*导航栏*/

/* 颜色 */
:root {
    --anzhiyu-theme-op: #4259ef23;
    --anzhiyu-white: #fff;
    --anzhiyu-black: #000;
    --anzhiyu-none: rgba(0, 0, 0, 0);
    --anzhiyu-gray: #999999;
    --anzhiyu-yellow: #ffc93e;
    --anzhiyu-border-radius: 8px;
    --anzhiyu-main: var(--anzhiyu-theme);
    --anzhiyu-main-op: var(--anzhiyu-theme-op);
    --anzhiyu-shadow-theme: 0 8px 12px -3px var(--anzhiyu-theme-op);
    --anzhiyu-shadow-main: 0 8px 12px -3px var(--anzhiyu-main-op);
    --anzhiyu-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, 0.2);
    --anzhiyu-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, 0.2);
    --anzhiyu-shadow-black: 0 0 12px 4px rgba(0, 0, 0, 0.05);
    --anzhiyu-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, 0.12);
    --anzhiyu-shadow-red: 0 8px 12px -3px #ee7d7936;
    --anzhiyu-shadow-green: 0 8px 12px -3px #87ee7936;
    --anzhiyu-shadow-border: 0 8px 16px -4px #2c2d300c;
    --anzhiyu-logo-color: linear-gradient(215deg, #4584ff 30%, #ff7676 70%);
    --style-border: 1px solid var(--anzhiyu-card-border);
    --anzhiyu-blue-main: #3b70fc;
    --style-border-hover: 1px solid var(--anzhiyu-main);
    --style-border-dashed: 1px dashed var(--anzhiyu-theme-op);
    --style-border-avatar: 4px solid var(--anzhiyu-background);
    --style-border-always: 1px solid var(--anzhiyu-card-border);
    --anzhiyu-white-acrylic1: #fefeff !important;
    --anzhiyu-white-acrylic2: #fcfdff !important;
    --anzhiyu-black-acrylic2: #08080a !important;
    --anzhiyu-black-acrylic1: #0b0b0e !important;
}

[data-theme="light"] {
    --anzhiyu-theme: #3b70fc;
    --anzhiyu-theme-op: #4259ef23;
    --anzhiyu-blue: #3b70fc;
    --anzhiyu-red: #d8213c;
    --anzhiyu-pink: #ff7c7c;
    --anzhiyu-green: #57bd6a;
    --anzhiyu-fontcolor: #363636;
    --anzhiyu-background: #f7f9fe;
    --anzhiyu-reverse: #000;
    --anzhiyu-maskbg: rgba(255, 255, 255, 0.6);
    --anzhiyu-maskbgdeep: rgba(255, 255, 255, 0.85);
    --anzhiyu-hovertext: var(--anzhiyu-theme);
    --anzhiyu-ahoverbg: #f7f7fa;
    --anzhiyu-lighttext: var(--anzhiyu-main);
    --anzhiyu-secondtext: rgba(60, 60, 67, 0.6);
    --anzhiyu-scrollbar: rgba(60, 60, 67, 0.4);
    --anzhiyu-card-btn-bg: #edf0f7;
    --anzhiyu-post-blockquote-bg: #fafcff;
    --anzhiyu-post-tabs-bg: #f2f5f8;
    --anzhiyu-secondbg: #edf0f7;
    --anzhiyu-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
    --anzhiyu-card-bg: #fff;
    --anzhiyu-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
    --anzhiyu-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
    --anzhiyu-card-border: #c0c6d8;
}

[data-theme="dark"] {
    --anzhiyu-theme: #0084ff;
    --anzhiyu-theme-op: #0084ff23;
    --anzhiyu-blue: #0084ff;
    --anzhiyu-red: #ff3842;
    --anzhiyu-pink: #ff7c7c;
    --anzhiyu-green: #57bd6a;
    --anzhiyu-fontcolor: #f7f7fa;
    --anzhiyu-background: #18171d;
    --anzhiyu-reverse: #fff;
    --anzhiyu-maskbg: rgba(0, 0, 0, 0.6);
    --anzhiyu-maskbgdeep: rgba(0, 0, 0, 0.85);
    --anzhiyu-hovertext: #0a84ff;
    --anzhiyu-ahoverbg: #fff;
    --anzhiyu-lighttext: #f2b94b;
    --anzhiyu-secondtext: #a1a2b8;
    --anzhiyu-scrollbar: rgba(200, 200, 223, 0.4);
    --anzhiyu-card-btn-bg: #30343f;
    --anzhiyu-post-blockquote-bg: #000;
    --anzhiyu-post-tabs-bg: #121212;
    --anzhiyu-secondbg: #30343f;
    --anzhiyu-shadow-nav: 0 5px 20px 0px rgba(28, 28, 28, 0.4);
    --anzhiyu-card-bg: #1d1b26;
    --anzhiyu-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
    --anzhiyu-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
    --anzhiyu-card-border: #42444a;
}
/*------------------------*/
#nav #nav-group {
    max-width: 1376px;
    justify-content: center
}

.layout {
    max-width: 1400px;
    justify-content: center
}

@media screen and (min-width: 1920px) {
    .layout.hide-aside {
        max-width: 1600px
    }

    #nav #nav-group, .layout {
        max-width: 1500px
    }
}

#nav {
    top: 0 !important;
    display: flex;
    justify-content: center;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

#nav #nav-group {
    width: 100%;
    display: flex;
    position: relative
}

#nav .site-page::after {
    display: none
}

#nav .site-page {
    text-shadow: none;
    border-radius: 8px;
}

.page .sticky_layout {
    top: 50px !important
}

#post ~ .aside-content .sticky_layout {
    top: 70px !important
}

#nav.show {
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    -o-transform: translate3d(0, 0, 0) !important;
    -ms-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    position: fixed;
    z-index: 91
}

#page-header.nav-fixed #nav.show, #page-header.not-top-img #nav.show {
    border-bottom: none
}

#page-header.not-top-img:not(.nav-fixed) #nav {
    background: var(--anzhiyu-background) !important
}

#page-header.not-top-img #nav {
    transition: .3s;
    background: var(--anzhiyu-maskbgdeep) !important;
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

@media screen and (max-width: 768px) {
    #page-header.not-top-img #nav {
        background: var(--anzhiyu-background)
    }
}

#nav a {
    border-radius: 8px;
    padding: 6px 12px !important;
}

@media screen and (min-width: 768px) {
    .menus_item:hover > a.site-page {
        color: var(--anzhiyu-white) !important;
        background: var(--anzhiyu-white);
        transition: .3s;
        box-shadow: var(--anzhiyu-shadow-main)
    }

    .page .menus_item:hover > a.site-page {
        color: var(--anzhiyu-white) !important;
        background: var(--anzhiyu-main);
        transition: .3s;
        box-shadow: var(--anzhiyu-shadow-main)
    }

    .nav-fixed .menus_item:hover > a.site-page {
        background-color: var(--anzhiyu-main)
    }
}

.nav-fixed #nav #site-name span {
    color: var(--anzhiyu-fontcolor);
    transition: .3s
}

#nav #site-name:hover i {
    color: var(--anzhiyu-white)
}

/*#nav #menus {*/
/*    position: absolute;*/
/*    width: 100%;*/
/*}*/

#nav #site-name span {
    font-weight: 700 !important;
    font-size: 1.1rem;
}


@media screen and (min-width: 900px) {
    #nav #site-name {
        opacity: 1;
        transition: .3s;
        overflow: hidden
    }

    #nav #site-name span {
        transition: .3s
    }

    #nav #site-name:hover span {
        opacity: 0;
        transition: .3s
    }

    #page-header.nav-fixed #nav #site-name {
        opacity: 1;
        transition: .1s
    }

    #page-header.nav-visible #nav #site-name {
        opacity: 1;
        transition: .1s
    }

    #nav #site-name:after {
        background: url('https://cdn.jsdelivr.net/gh/Jayhrn/CDN/img/home.png') no-repeat 50% 50%;
        opacity: 0;
        position: absolute;
        display: flex;
        z-index: 1;
        width: 80px;
        height: 60px;
        content: "";
        transition: .3s;
        transition-timing-function: ease-in;
        transform: scale(.4)
    }

    .post #nav #site-name:hover {
        background: var(--anzhiyu-white)
    }

    .nav-fixed #nav #site-name:hover {
        background: var(--anzhiyu-main)
    }

    #nav #site-name:hover:after {
        opacity: 1;
        transform: translateY(0) scale(.3);
        transition-timing-function: ease-in
    }
}

.nav-fixed #nav #site-name span {
    color: var(--anzhiyu-fontcolor);
    transition: .3s
}

#nav #site-name:hover span {
    color: var(--anzhiyu-white)
}

.post-bg #nav #site-name {
    color: var(--anzhiyu-white);
    transition: .3s
}

/*#nav #site-name {*/
/*    color: var(--anzhiyu-white);*/
/*    padding: 0;*/
/*    transition: .3s;*/
/*    display: flex;*/
/*    height: 40px;*/
/*    width: 80px;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    text-shadow: none*/
/*}*/

#nav #blog_name #site-name {
    position: relative
}

/*设置menu子元素边距*/
#nav .menus_item_child .site-page.child {
    padding: .5rem .8rem !important
}

/*#nav #menus {*/
/*    position: absolute;*/
/*    width: 100%*/
/*}*/

@media screen and (max-width: 768px) {
    #nav #menus {
        display: none
    }
}



#menus > div.menus_items > div > a {
    letter-spacing: .2rem;
    font-size: 1.2rem;         /*导航栏文字大小*/
}

#page-header.nav-fixed #nav div.menus_items[style*="opacity: 0;"] .nav {
    opacity: .3;
}

/*#page-header.nav-fixed #nav div.menus_items {*/
/*    opacity: 0;*/
/*    -webkit-transform: translateY(-60px);*/
/*    -moz-transform: translateY(-60px);*/
/*    -o-transform: translateY(-60px);*/
/*    -ms-transform: translateY(-60px);*/
/*    transform: translateY(-60px);*/
/*    -webkit-transition: all .3s ease-in-out;*/
/*    -moz-transition: all .3s ease-in-out;*/
/*    -o-transition: all .3s ease-in-out;*/
/*    -ms-transition: all .3s ease-in-out;*/
/*    transition: all .3s ease-in-out*/
/*}*/

/*#page-header.nav-fixed.nav-visible #nav div.menus_items {*/
/*    opacity: 1;*/
/*    -webkit-transform: translateY(0);*/
/*    -moz-transform: translateY(0);*/
/*    -o-transform: translateY(0);*/
/*    -ms-transform: translateY(0);*/
/*    transform: translateY(0);*/
/*    -webkit-transition: all .3s ease-in-out;*/
/*    -moz-transition: all .3s ease-in-out;*/
/*    -o-transition: all .3s ease-in-out;*/
/*    -ms-transition: all .3s ease-in-out;*/
/*    transition: all .3s ease-in-out*/
/*}*/

#nav .menus_items .menus_item {
    padding: 0 .4rem !important
}

#nav .menus_items .menus_item .menus_item_child {
    padding: 6px 4px 8px 4px;
    background-color: var(--anzhiyu-card-bg);
    border-radius: 12px;
    border: var(--style-border);
    box-shadow: var(--anzhiyu-shadow-black);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

#nav .menus_items .menus_item .menus_item_child:hover {
    border: var(--style-border-hover);
    box-shadow: var(--anzhiyu-shadow-main)
}

#nav .menus_items .menus_item:hover .menus_item_child {
    display: flex
}

#nav .menus_items .menus_item .menus_item_child li {
    margin: 0 .2rem;
    border-radius: 8px !important;
}

#nav .menus_items .menus_item .menus_item_child li:hover {
    background: 0 0;
    background: var(--anzhiyu-main) !important;
    color: var(--anzhiyu-white) !important;
    box-shadow: var(--anzhiyu-shadow-main);
    transform: scale(1) !important;
    transition: .3s;
    border-radius: 8px !important;
}

#sidebar #sidebar-menus .menus_items .site-page:hover, #sidebar #sidebar-menus .sidebar-site-data a:hover {
    border-radius: 8px;
    background: var(--anzhiyu-main);
    color: var(--anzhiyu-white) !important;
}

/*设置电脑无向下箭头，而手机有*/
@media screen and (max-width: 768px) {
    .site-page i.fa-chevron-down {
        display: inline-flex !important;
    }
}

.site-page i.fa-chevron-down {
    display: none;
}


#sidebar #sidebar-menus .menus_items .site-page:hover, #sidebar #sidebar-menus .sidebar-site-data a:hover .headline, #sidebar #sidebar-menus .sidebar-site-data a:hover .length-num {
    color: var(--anzhiyu-white) !important
}

#page-header.not-top-img {
    margin: 0
}

#nav a.site-page.child {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

#nav a.site-page.child:hover {
    color: var(--anzhiyu-main) !important;
    background: var(--anzhiyu-main);
    box-shadow: var(--anzhiyu-shadow-main)
}

#page-header.post-bg #nav #hotkey .site-page:hover, #page-header.post-bg #nav #site-name:hover, #page-header.post-bg #nav .menus_item > .site-page:hover {
    color: var(--anzhiyu-white) !important;
    background: var(--anzhiyu-main);
}

[data-theme=dark] #page-header.post-bg #nav #hotkey .site-page:hover, [data-theme=dark] #page-header.post-bg #nav #site-name:hover, [data-theme=dark] #page-header.post-bg #nav .menus_item > .site-page:hover {
    color: var(--anzhiyu-white) !important;
    background: var(--anzhiyu-main)
}

#page-header.post-bg #nav #hotkey .site-page, #page-header.post-bg #nav #site-name, #page-header.post-bg #nav .menus_item > .site-page {
    color: var(--anzhiyu-white);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

#page-header.not-top-img #nav #hotkey .site-page, #page-header.not-top-img #nav #page-name-text, #page-header.not-top-img #nav #site-name, #page-header.not-top-img #nav .menus_item > .site-page, #page-header.post-bg.nav-fixed #nav #hotkey .site-page, #page-header.post-bg.nav-fixed #nav #page-name-text, #page-header.post-bg.nav-fixed #nav #site-name, #page-header.post-bg.nav-fixed #nav .menus_item > .site-page {
    color: var(--anzhiyu-fontcolor);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

#page-header.not-top-img #nav #hotkey .site-page:hover, #page-header.not-top-img #nav #page-name-text:hover, #page-header.not-top-img #nav #site-name:hover, #page-header.not-top-img #nav .menus_item > .site-page:hover, #page-header.post-bg.nav-fixed #nav #hotkey .site-page:hover, #page-header.post-bg.nav-fixed #nav #page-name-text:hover, #page-header.post-bg.nav-fixed #nav #site-name:hover, #page-header.post-bg.nav-fixed #nav .menus_item > .site-page:hover {
    color: var(--anzhiyu-white) !important;
    background: var(--anzhiyu-main);
    box-shadow: var(--anzhiyu-shadow-main);
}

#nav #page_name {
    position: absolute;
    margin-top: 15px;
}

@media screen and (max-width: 768px) {
    #nav #page_name {
        display: none !important
    }
}

#nav #page-name-text {
    opacity: 0;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    text-align: center;
    line-height: 1.2em;
    -webkit-transform: translateY(-60px);
    -moz-transform: translateY(-60px);
    -o-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    transform: translateY(-50px);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    font-size: 24px; /*标题和文章字体大小*/
}

#page-header.nav-fixed #nav #page-name-text {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

#page-header.nav-fixed.nav-visible #nav #page-name-text {
    opacity: 0;
    -webkit-transform: translateY(-60px);
    -moz-transform: translateY(-60px);
    -o-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    transform: translateY(-60px)
}

/* 设置hover返回顶部 */
#page-name-text > span::before {
    font-size: 1.2rem;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    color: var(--anzhiyu-white) !important;
    top: 0;
    left: 0;
    content: '回到顶部';
    min-width: fit-content;
    background-color: var(--anzhiyu-theme);
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    opacity: 0;
    box-shadow: 0 0 3px var(--anzhiyu-theme);
    line-height: 40px; /*如果垂直位置不居中可以微调此值，也可以删了*/
}

#page-name-text > span:hover:before {
    opacity: 1;
}

#page-name-text:hover {
    scale: 1.03
}

#nav #hotkey {
    position: absolute;
    right: 1rem;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    text-align: center
}

#nav #hotkey div {
    width: 40px;
    height: 40px;
    margin-left: .3rem;
    padding: 0 !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

#nav #hotkey .site-page {
    width: 40px;
    height: 40px;
    font-size: 1.3rem;
    padding: 0 !important;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

#nav #hotkey #mode-button i {
    color: var(--anzhiyu-sun-moon)
}

#nav #hotkey #mode-button i::before {
    content: '\f1bc'
}

#nav #hotkey #mode-button:hover i::before {
    content: '\ef6e'
}

[data-theme=dark] #nav #hotkey #mode-button i::before {
    content: '\ef6e'
}

[data-theme=dark] #nav #hotkey #mode-button:hover i::before {
    content: '\f1bc'
}

/* 控制导航栏滑动百分比显隐 */
header:not(.nav-fixed) #nav #hotkey #top-button {
    width: 0;
    opacity: 0;
    margin-left: 0
}

#nav #hotkey #top-button a.site-page {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    color: var(--font-color) !important;
    background: var(--anzhiyu-card-bg)
}

#nav #hotkey #top-button:hover a.site-page {
    width: 40px;
    height: 40px;
    margin: 0;
    color: var(--anzhiyu-secondtext) !important;
    background: var(--anzhiyu-main)
}

#nav #hotkey #top-button i::before {
    position: relative;
    left: 0;
    right: 0;
    font-size: 90%;
    line-height: 1.7em;
    white-space: nowrap;

    width: 25px;
    height: 25px;
}

#nav #hotkey #top-button:hover i::before {
    content: '\f004';
    position: relative;
    font-family: unset;
    font-size: 100%
}






/*-------*/
#nav #hotkey #top-button #site-page a.totopbtn{
    font-size: 1.3rem;
    padding: 0 !important;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    display: flex;

    opacity: 1;
    width: 25px;
    height: 25px;
    border-radius: 40px;
    background: #363636;
    color: var(--anzhiyu-card-bg);

    right: 0;
    transition: 0.3s;
}


a.totopbtn i {
    position: absolute;
    display: flex;
    font-size: 0.8rem;
    opacity: 0;
}

#nav #hotkey #top-button #site-page {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    font-size: 1.3rem;
    padding: 0 !important;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}




#nav #hotkey #top-button #site-page:hover a.totopbtn {
    background: var(--anzhiyu-main);
    width:30px;
    height:30px;
}
/*#nav #hotkey #top-button #site-page:not(.long):hover a.totopbtn {*/
/*    width: 35px;*/
/*    height: 35px;*/
/*    top: 0;*/
/*    right: 0;*/
/*}*/


a.totopbtn i {
    position: absolute;
    display: flex;
    font-size: 0.8rem;
    opacity: 0;
}

a.totopbtn:hover i {
    position: absolute;
    display: flex;
    font-size: 0.8rem;
    left: 2.5px;
    top: 4px;
    bottom: 1px;
    width: 25px;
    height: 25px;
    opacity: 1;
    color: var(--anzhiyu-white);
    transition: 0.3s;
}
a.totopbtn span{
    opacity: 1;
}
a.totopbtn:hover span{
    opacity: 0;
}


/*a.totopbtn i {*/
/*    position: absolute;*/
/*    display: flex;*/
/*    font-size: 0.8rem;*/
/*    opacity: 0;*/
/*    left: 5px;*/
/*    top: 5px;*/
/*    bottom: 1px;*/
/*    width: 25px;*/
/*    height: 25px;*/
/*}*/
